{
  "SIANCTAPI": {
    "sianctapi_block_fedora": "http://host:port/fedora",
    "sianctapi_block_fedora_userpass": "sianctapiuseroffedora:abiglongjunkspassword",
    "sianctapi_block_gsearch": "http://host:port/fedoragsearch/rest",
    "sianctapi_block_solr": "http://host:port/solr",
    "sianctapi_block_solr_max": "1000",
    "sianctapi_block_solr_xslt_tree": "sianctapiProjectStructureToHtml.xslt",
    "sianctapi_block_solr_xslt_filtered": "sianctapiObstablesToHtml.xslt",
    "sianctapi_path": "."
  }
}
